.gpt3__cta {
  background: var(--gradient-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 3rem 2rem;
  border-radius: 1rem;
}

.gpt3__cta-content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #0E0E0E;
}

.gpt3__cta-content h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
}

.gpt3__cta-btn button {
  font-family: var(--font-family);
  background: black;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  color: #FFFFFF;
  outline: none;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .gpt3__cta {
    flex-direction: column;
    gap: 2rem;
  }

  .gpt3__cta-content h3 {
    line-height: 32px;
  }

  .gpt3__cta-btn button {
    font-size: 1rem;
    line-height: 28px;
    padding: 0.8rem 2.7rem;
  }
}